<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cs4256.drinkmorewater.mapper.BookmarkMapper">

    <resultMap id="BaseResultMap" type="com.cs4256.drinkmorewater.models.Bookmark">
        <id property="markId" column="mark_id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="restId" column="rest_id" jdbcType="INTEGER"/>
    </resultMap>
<!--    <select id="selectByRestId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from bookmark-->
<!--        where-->
<!--        rest_id = #{restId,jdbcType=NUMERIC}-->
<!--    </select>-->

    <sql id="Base_Column_List">
        mark_id,user_id,rest_id
    </sql>

<!--    <select id="selectByUserId" resultMap="BaseResultMap">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from bookmark-->
<!--        where-->
<!--        user_id = #{userId,jdbcType=NUMERIC}-->
<!--    </select>-->
    <select id="countByUserId" resultType="int">
        select count(*)
        from bookmark
        where user_id = #{userId,jdbcType=NUMERIC}
    </select>
    <select id="countByRestId" resultType="int">
        select count(*)
        from bookmark
        where rest_id = #{restId,jdbcType=NUMERIC}
    </select>
</mapper>
