<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cs4256.drinkmorewater.mapper.RestaurantMapper">
    <update id="updateRestDislikesByRestId">
        update restaurant
        set rest_dislikes = #{restDislikes,jdbcType=NUMERIC}
        where rest_id = #{restId,jdbcType=NUMERIC}
    </update>
    <update id="updateRestLikesByRestId">
        update restaurant
        set rest_likes = #{restLikes,jdbcType=NUMERIC}
        where rest_id = #{restId,jdbcType=NUMERIC}
    </update>
    <update id="updateRestLikesByRestIdBy1">
        update restaurant
        set rest_likes = rest_likes + 1
        where rest_id = #{restId,jdbcType=NUMERIC}
    </update>
    <update id="updateRestDislikesByRestIdBy1">
        update restaurant
        set rest_dislikes = rest_dislikes + 1
        where rest_id = #{restId,jdbcType=NUMERIC}
    </update>
    <insert id="insertExceptLikeAndDislike" useGeneratedKeys="true" keyProperty="restId" keyColumn="rest_id">
        insert into restaurant(
            rest_location,
            rest_name,
            rest_number,
            rest_size,
            rest_owner_id)
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="restLocation != null">#{restLocation,jdbcType=VARCHAR},</if>
            <if test="restName != null">#{restName,jdbcType=VARCHAR},</if>
            <if test="restNumber != null">#{restNumber,jdbcType=VARCHAR},</if>
            <if test="restSize != null">#{restSize,jdbcType=VARCHAR},</if>
            <if test="restOwnerId != null">#{restOwnerId,jdbcType=NUMERIC},</if>
        </trim>
    </insert>
    <update id="updateExceptLikeAndDislike">
        update restaurant
        <set>
            <if test="restLocation != null">rest_location=#{restLocation,jdbcType=VARCHAR},</if>
            <if test="restLocation == null">rest_location=rest_location,</if>
            <if test="restName != null">rest_name=#{restName,jdbcType=VARCHAR},</if>
            <if test="restName == null">rest_name=rest_name,</if>
            <if test="restNumber != null">rest_number=#{restNumber,jdbcType=VARCHAR},</if>
            <if test="restNumber == null">rest_number=rest_number,</if>
            <if test="restSize != null">rest_size=#{restSize,jdbcType=VARCHAR},</if>
            <if test="restSize == null">rest_size=rest_size,</if>
            <if test="restOwnerId != null">rest_owner_id=#{restOwnerId,jdbcType=VARCHAR},</if>
        </set>
        where <if test="restId != null">rest_id=#{restId,jdbcType=NUMERIC}</if>
    </update>
</mapper>